
                        <div class="o-box">
                            <div class="o-box__inside">
                    	
                                <div class="o-accordion__title js-title">
                                    <header class="o-header">
                                        <h2 class="o-lead--3">Reklamacja</h2>
                                    </header>                                    
                                </div>
                                
                                <div class="o-accordion__more js-more is-hidden">
                                    <div class="o-accordion__content js-content">
                                    
                                        <article class="o-article o-article--small">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellentesque ut aliquam ut, laoreet vel neque. Integer hendrerit in arcu sit amet semper. Duis ac augue non tellus dictum iaculis id nec ex. Sed volutpat interdum aliquet. Quisque a consectetur lectus, vitae semper justo.</p>
                                        </article>
                                    </div>
                                </div>                                
                            </div>
                        </div>
