
                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item">
                                
                        <% include accordion-01 %>
                
                    </li>
                    
                    <li class="o-accordion__item">
                                
                        <% include accordion-02 %>
                
                    </li>
                    
                    <li class="o-accordion__item">
                                
                        <% include accordion-03 %>
                
                    </li>
                </ul>
