
        <div class="c-benefits anim anim--up">
            <header class="o-header">
                <h3 class="o-lead--2">Dlaczego warto nas wybrać?</h3>
            </header>
            
            <div class="o-cols o-cols--4">
                <div class="o-cols__item">
                    <div class="c-benefits__header">
                        <i class="icon-heart"></i>
                        <h4 class="o-lead--4">system zniżek</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellenteut aliquam ut, laoreet vel.</p>
                </div>
                
                <div class="o-cols__item">
                    <div class="c-benefits__header">
                        <i class="icon-star-o"></i>
                        <h4 class="o-lead--4">100% jakość</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellenteut aliquam ut, laoreet vel.</p>
                </div>
                
                <div class="o-cols__item">
                    <div class="c-benefits__header">
                        <i class="icon-gift"></i>
                        <h4 class="o-lead--4">karty podarunkowe</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellenteut aliquam ut, laoreet vel.</p>
                </div>
                
                <div class="o-cols__item">
                    <div class="c-benefits__header">
                        <i class="icon-lifebuoy"></i>
                        <h4 class="o-lead--4">wsparcie 24/7</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellenteut aliquam ut, laoreet vel.</p>
                </div>
            </div>
        </div>
