
                <div class="c-delivery">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Dostawa i płatność</h2>
                            </header>
                            
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sposób dostawy:</th>
                                        <th>Koszt dostawy:</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>Kurier48 (Poczta Polska)</td>
                                        <td>9,90 zł</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Paczkomaty InPost</td>
                                        <td>10,90 zł</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="o-article">
                                <p><strong>Czas wysyłki: zwykle do 2 dni roboczych.</strong></p>
                                <p>Podczas tworzenia tej oferty, sprzedawca zadeklarował, że wyśle towar do 3 dni roboczych.</p>
                            </div>
                        </div>
                    </div>
                </div>
