
                <div class="c-description">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Opis</h2>
                            </header>
                            
                            <div class="o-cols o-cols--2">
                                <div class="o-cols__item">
                                    <img src=<%= require("./img/photos/description.jpg") %> alt="" width="290" height="423">
                                </div>
                                
                                <div class="o-cols__item">
                                    
                                    <article class="o-article">
                                        <p>Jarvis Paul</p>
                                        
                                        <h2>Firma czyli Ty</h2>
                                        
                                        <ul>
                                            <li>Autorzy: Jarvis Paul</li>
                                            <li>Oprawa: Miękka</li>
                                            <li>Rok wydania: 2019</li>
                                            <li>Wydawnictwo: IMKER</li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                            
                            <article>
                                <p>Opisywane w książce podejście kontrastuje z takim modelem pracy i jest bliższe tradycyjnej definicji przedsiębiorstwa.</p>
                                
                                <p>&nbsp;</p>

<p>Jeżeli wykorzystujesz systemy, automatyzację i najróżniejsze procesy, aby tworzyć długotrwałe zależności biznesowe, nie wymieniasz czasu na pieniądze, ale pracujesz i osiągasz zyski poza czasem, który przeznaczasz na pracę i spotkania z klientami.</p>

                                <p>&nbsp;</p>

<p>Nieważne, czy sprzedajesz konkretny produkt, oprogramowanie, czy udostępniasz w sieci lekcje, klienci mogą kupować twoje usługi i produkty oraz korzystać z nich bez twojej obecności przy każdej transakcji. Choć rozwijanie produktu może pochłaniać mnóstwo czasu i wymagać wielu poprawek, to liczba klientów jednoosobowego przedsiębiorstwa może być właściwie nieskończona. Dzięki temu zysk jest generowany również poza czasem poświęconym na zarabianie.</p>
                            </article>
                        </div>
                    </div>
                </div>
