    
    <footer class="c-footer">
        <div class="o-wrap">
            
            <p>Copyright © 2020 IMKER Logistyka</p>
            
            <nav class="c-footer__nav">
                <ul>
                    <li>
                        <a href="#">Regulamin</a>
                    </li>
                    
                    <li>
                        <a href="#">Polityka prywatności</a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </footer>
