
        <div class="c-homeslider">
            <div class="glide" id="homeCarousel">
	            <div class="glide__track" data-glide-el="track">
	
	                <ul class="glide__slides">
		                <li class="glide__slide">
		                
                            <img src=<%= require("./img/placeholders/1200x600.png") %> alt="" width="1200" height="600">
                            
                        </li>
                    </ul>

                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left icon-right-arrow" data-glide-dir="<"></button>
                        <button class="glide__arrow glide__arrow--right icon-right-arrow" data-glide-dir=">"></button>
                    </div>
                </div>
            </div>
        </div>
