
                    <div class="o-item">
                        <div class="o-item__stickers">
                            <span class="o-sticker o-sticker--red">-10%</span>
                            <span class="o-sticker o-sticker--green">new</span>
                        </div>
                        
                        <a href="product.html" class="o-item__photo">
                            <img src=<%= require("./img/covers/small.jpg") %> alt="" width="164" height="239">
                        </a>
                        
                        <div class="o-item__description">
                            <p class="o-lead o-lead o-lead--4">Firma, czyli ty [książka]</p>
                            <p class="o-lead o-lead o-lead--4">
                                <del>49,90 zł</del> <span class="color-red">39,90 zł</span>
                            </p>
                        </div>
                        
                        <div class="o-item__buttons">
                            <a href="#" class="o-btn o-btn--primary">Dodaj do koszyka</a>
                            <a href="#" class="o-btn o-btn--primary o-btn--blackoutline">Czytaj więcej</a>
                        </div>
                    </div> 
