
                <div class="c-kit">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Firma, czyli Ty [książka]</h2>
                            </header>
                            
                            <div class="o-cols">
                                <div class="o-cols__item o-cols__item--covers">
                                    <a href="#" class="item">
                                        <img src=<%= require("./img/photos/kit/01.jpg") %> alt="01" width="108" height="168">
                                    </a>
                                    
                                    <a href="#" class="item">
                                        <img src=<%= require("./img/photos/kit/02.jpg") %> alt="02" width="108" height="168">
                                    </a>
                                </div>
                                
                                <div class="o-cols__item o-cols__item--info">
                                    <table>
                                        <tr>
                                            <th>
                                                <a href="#" class="item">
                                                    <span class="num">1x</span> Youpreneur ducker jak zbudować i rozwinąć firmę
                                                </a>
                                            </th>
                                            
                                            <td>49,90 zł</td>
                                        </tr>
                                        
                                        <tr>
                                            <th>
                                                <a href="#" class="item">
                                                    <span class="num">1x</span> FIRMA CZYLI TY- Jarvis Paul
                                                </a>
                                            </th>
                                            
                                            <td>49,90 zł</td>
                                        </tr>
                                    </table>
                                    
                                    <div class="o-cols o-cols--summary">
                                        <div class="o-cols__item">
                                            <p class="o-lead--5 color-red">W ZESTAWIE TANIEJ O 10%</p>
                                            
                                            <p>
                                                <del>99,80 zł</del> <span class="o-lead--2">89,80 zł</span>
                                            </p>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <a href="#" class="o-btn o-btn--secondary">Dodaj do koszyka</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
