
        <nav class="c-nav js-nav">
            <div class="o-wrap">
                <ul class="c-nav__menu js-menu">
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                    
                    <li>
                        <a href="#">Menu element</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        

