
                <div class="c-other">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Inne produkty tego sprzedającego</h2>
                            </header>
                            
                            <div class="c-other__items">
                                
                                <div class="glide" id="otherCarousel">
						            <div class="glide__track" data-glide-el="track">
						
						                <ul class="glide__slides">
							                <li class="glide__slide">
							                
                                                <div class="c-other__item">
                                                    <div class="photo">
                                                        <img src=<%= require("./img/photos/kit/01.jpg") %> alt="" width="108" height="168">
                                                    </div>
                                                    
                                                    <p class="title">YOUPRENEUR Ducker JAK ZBUDOWAĆ I ROZWINĄĆ FIRMĘ</p>
                                                    
                                                    <p>
                                                        <a href="#" class="o-btn o-btn--third">Zobacz</a>
                                                    </p>
                                                </div>
                                            </li>
                                            
                                            <li class="glide__slide">
							                
                                                <div class="c-other__item">
                                                    <div class="photo">
                                                        <img src=<%= require("./img/photos/kit/01.jpg") %> alt="" width="108" height="168">
                                                    </div>
                                                    
                                                    <p class="title">YOUPRENEUR Ducker JAK ZBUDOWAĆ I ROZWINĄĆ FIRMĘ</p>
                                                    
                                                    <p>
                                                        <a href="#" class="o-btn o-btn--third">Zobacz</a>
                                                    </p>
                                                </div>
                                            </li>
                                            
                                            <li class="glide__slide">
							                
                                                <div class="c-other__item">
                                                    <div class="photo">
                                                        <img src=<%= require("./img/photos/kit/01.jpg") %> alt="" width="108" height="168">
                                                    </div>
                                                    
                                                    <p class="title">YOUPRENEUR Ducker JAK ZBUDOWAĆ I ROZWINĄĆ FIRMĘ</p>
                                                    
                                                    <p>
                                                        <a href="#" class="o-btn o-btn--third">Zobacz</a>
                                                    </p>
                                                </div>
                                            </li>
                                            
                                            <li class="glide__slide">
							                
                                                <div class="c-other__item">
                                                    <div class="photo">
                                                        <img src=<%= require("./img/photos/kit/01.jpg") %> alt="" width="108" height="168">
                                                    </div>
                                                    
                                                    <p class="title">YOUPRENEUR Ducker JAK ZBUDOWAĆ I ROZWINĄĆ FIRMĘ</p>
                                                    
                                                    <p>
                                                        <a href="#" class="o-btn o-btn--third">Zobacz</a>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="glide__arrows" data-glide-el="controls">
                                            <button class="glide__arrow glide__arrow--left icon-right-arrow" data-glide-dir="<"></button>
                                            <button class="glide__arrow glide__arrow--right icon-right-arrow" data-glide-dir=">"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
