    
        <div class="c-pagination">        
            <a href="#" class="c-pagination__btn c-pagination__btn--left">
                <i class="icon-right-arrow"></i>
                <span>Poprzedni produkt</span>
            </a>
            
            <div class="c-pagination__current">
                <a href="#">Strona główna</a> <a href="#">Firma, czyli Ty</a> <span>Książka</span>
            </div>
        
            <a href="#" class="c-pagination__btn c-pagination__btn--right">
                <i class="icon-right-arrow"></i>
                <span>Następny produkt</span>
            </a>
        </div>
