
                <div class="c-params">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Parametry</h2>
                            </header>
                            
                            <ul class="c-params__list">
                                <li>
                                    <span>Stan:</span>
                                    <strong class="color-green">Nowy</strong>
                                </li>
                                
                                <li>
                                    <span>Tytuł:</span>
                                    <strong>Firma, czyli Ty</strong>
                                </li>
                                
                                <li>
                                    <span>Faktura:</span>
                                    <strong>Wystawiam fakturę VAT</strong>
                                </li>
                                
                                <li>
                                    <span>Autor:</span>
                                    <strong>Paul Jarvis</strong>
                                </li>
                                
                                <li>
                                    <span>Okładka:</span>
                                    <strong>miękka</strong>
                                </li>
                                
                                <li>
                                    <span>Wydawnictwo:</span>
                                    <strong>inne</strong>
                                </li>
                                
                                <li>
                                    <span>Rok wydania:</span>
                                    <strong>2019</strong>
                                </li>
                                
                                <li>
                                    <span>Liczba stron:</span>
                                    <strong>320</strong>
                                </li>
                                
                                <li>
                                    <span>Forma:</span>
                                    <strong>poradnik</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
