
    <div class="o-overlay" id="overlay">
        <div class="o-overlay__inside js-inside">
            <div class="o-wrap">
                
                <div class="c-popup js-popup" id="addedToCart">
                    <div class="c-popup__inside ">
                        <div class="c-status">
                            <header class="o-header">
                                <h4 class="o-lead--4">Dodałeś do koszyka:</h4>
                                <h4 class="o-lead--2">FIRMA, CZYLI TY [książka]</h2>
                            </header>
                            
                            <hr>
                            
                            <div class="o-cols o-cols--2">
                                <div class="o-cols__item">
                                    <p class="o-lead--4">Cena:</p>
                                    <p class="o-lead--2 price">49,90 zł</p>
                                    
                                    <div>
                                        <a href="#" class="o-btn o-btn--primary o-btn--yellowoutline">Kontynuuj zakupy</a>
                                    </div>
                                </div>
                                
                                <div class="o-cols__item">
                                    <p class="o-lead--4">Liczba sztuk:</p>
                                    <p class="o-lead--2 num">1</p>
                                    
                                    <div>
                                        <a href="#" class="o-btn o-btn--primary o-btn--arrows">Przejdź do kasy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
