
                <div class="c-reviews">
                    <div class="o-box">
                        <div class="o-box__inside">
                            
                            <header class="o-header">
                                <h2 class="o-lead--3">Opinie</h2>
                            </header>
                            
                            <div class="c-reviews__items">
                                
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellentesque ut aliquam ut, laoreet vel neque. Integer hendrerit in arcu sit amet semper. Duis ac augue non tellus dictum iaculis id nec ex. Sed volutpat interdum aliquet. Quisque a consectetur lectus, vitae semper </p>
                                    
                                    <p class="author">Tomasz S. <span class="o-stars"><i></i><i></i><i></i><i></i><i></i></span> </p>
                                </blockquote>
                                
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellentesque ut aliquam ut, laoreet vel neque. Integer hendrerit in arcu sit amet semper. Duis ac augue non tellus dictum iaculis id nec ex. Sed volutpat interdum aliquet. Quisque a consectetur lectus, vitae semper </p>
                                    
                                    <p class="author">Tomasz S. <span class="o-stars"><i></i><i></i><i></i><i></i><i></i></span> </p>
                                </blockquote>
                                
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo risus, pellentesque ut aliquam ut, laoreet vel neque. Integer hendrerit in arcu sit amet semper. Duis ac augue non tellus dictum iaculis id nec ex. Sed volutpat interdum aliquet. Quisque a consectetur lectus, vitae semper </p>
                                    
                                    <p class="author">Tomasz S. <span class="o-stars"><i></i><i></i><i></i><i></i><i></i></span> </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
