
    <div class="c-social">
        <div class="o-wrap">
            
            <div class="c-social__items">
                <a href="#" class="c-social__item">
                    <i class="icon-facebook"></i>
                    
                    <div class="c-social__caption">
                        <p>Odwiedź nasz</p>
                        <p class="o-lead--4">profil na facebooku</p>
                    </div>
                </a>
                
                <a href="#" class="c-social__item">
                    <i class="icon-instagram"></i>
                    
                    <div class="c-social__caption">
                        <p>Odwiedź nasz</p>
                        <p class="o-lead--4">profil na instagramie</p>
                    </div>
                </a>
                
                <a href="#" class="c-social__item">
                    <i class="icon-youtube"></i>
                    
                    <div class="c-social__caption">
                        <p>Odwiedź nasz</p>
                        <p class="o-lead--4">profil na youtube</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
