
                <div class="c-summary js-sticky">
                    <div class="o-box o-box--corners">
                        <div class="o-box__inside">
                            
                            <div class="c-summary__timer">
                                <p>Zamów w ciągu <span class="timer js-timer">2h 25min</span> </p>
                                <p>aby odebrać już jutro!</p>
                            </div>
                            
                            <hr>
                            
                            <div class="c-summary__promo">
                                <p class="o-lead--5">Promocja trwa</p>
                                
                            	<div class="c-counter" id="timer" data-endtime="09/13/2020 00:00:00 PM">
                                    <p><span id="days"></span> dni</p>
                                    <p><span id="hours"></span> godzin</p>
                                    <p><span id="minutes"></span> minut</p>
                                    <p><span id="seconds"></span> sekund</p>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <div class="c-summary__price">
                                <p class="o-lead--4">Cena</p>
                                <p class="price">
                                    <del>39,90 zł</del>
                                    <span>49,90 zł</span>
                                </p>
                            </div>
                            
                            <div class="c-summary__quantity">
                                <p class="o-lead--4">Liczba sztuk</p>
                                
                                <div class="o-quantity js-quantity">
                                    <i class="js-minus"></i>
                                    <input type="text" name="quantity" class="js-num js-digits" value="1">
                                    <i class="js-plus"></i>
                                </div>
                            </div>
                            
                            <div class="c-summary__button">
                                <button type="submit" class="o-btn o-btn--primary js-showPopup" data-target="addedToCart">
                                    <span>Dodaj do koszyka</span>
                                </button>
                            </div>
                            
                            <div class="c-summary__details">
                                <p>
                                    <i class="icon-truck-solid"></i>
                                    <span>Dostawa od 6,68 zł</span>
                                </p>
                                
                                <p>
                                    <i class="icon-clock"></i>
                                    <span>Czas wysyłki zwykle do 2 dni roboczych</span>
                                </p>
                                
                                <hr>
                                
                                <p>
                                    <i class="icon-bubble"></i>
                                    <span>Zapytaj o produkt</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
