
    <div class="c-top">
        <div class="o-wrap">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/assets/logo.png") %> alt="Firma, czyli Ty" width="265" height="28" />
            </a>
            
            <a href="#" class="o-bag">
                <i class="icon-shopping-bag" data-num="0"></i>
                <span>Koszyk</span>
            </a>
        </div>
    </div>
