
    <div class="c-topbar js-topbar">
        <div class="o-wrap">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Phasellus a consequat ligula</strong>.</p>
            
            <a href="#" class="o-btn o-btn--fourth o-btn--black">Kup teraz</a>
        </div>
    </div>
