.c-reviews {
    &__items {
        blockquote {
            @extend %rel;
            margin-bottom: 20px;
            padding-left: 60px;

            p {
                font-size: rem(14);

                &.author {
                    padding-top: 5px;
                    font-weight: $bold;

                    &:before {
                        content: '| ';
                    }
                }
            }
            
            &:before {
                @extend %abs-pseudo;
                left: 0; top: -10px;
                opacity: .2;
                font: {
                    family: $icomoon;
                    size: rem(36);
                }
                content: "\e90b";
            }
        }
    }
}
