$c-black-01:    #000;
$c-black-02:    #242424;

$c-blue-01:     #0a2239;
$c-blue-02:     #005cb9;

$c-gray-01:     #f4f7f8;
$c-gray-02:     #e2eaed;
$c-gray-03:     #ccc;
$c-gray-04:     #f2f2f2;
$c-gray-05:     #b5b5b5;

$c-green-01:    #1b998b;
$c-green-02:    #14d20b;

$c-pink-01:     #dd1155;

$c-red-01:      #ff0000;
$c-red-02:      #fe0000;

$c-yellow-01:   #f8f216;
$c-yellow-02:   #ffd800;



$c-primary:     $c-yellow-01;


