<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/top %>
    <% include ./src/includes/nav %>
    
    
    <div class="o-wrap">
    
        <div class="c-pagination">        
            <div class="c-pagination__current">
                <a href="#">Strona główna</a> <span>Książka</span>
            </div>
        </div>

        <header class="o-header o-header--halfmargin">
            <h1 class="o-lead--1">Nazwa kategorii</h1>
        </header>
        
        <article class="o-article o-article--big">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores aperiam quisquam animi quam ullam dolorem at rerum ipsa sunt nemo, magnam, id fuga natus repudiandae non molestias ad alias! Et numquam nostrum, sunt officia voluptates iusto delectus ullam sapiente.</p>
        </article>

        <main class="c-products o-section o-section--padding">
            <div class="o-cols o-cols--3 anim anim--up">
                <div class="o-cols__item">
                    <% include ./src/includes/item-medium %>         
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-medium %>                    
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-medium %>                    
                </div>
            </div>
            
            <div class="o-cols o-cols--5 anim anim--up">
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                 
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                   
                </div>
                
                <div class="o-cols__item">
                    <% include ./src/includes/item-small %>                 
                </div>
            </div>
        </main>
        
        <% include ./src/includes/pagination-pages %>
        
        <header class="o-header o-header--halfmargin">
            <h2 class="o-lead--1">Nazwa kategorii</h2>
        </header>
        
        <article class="o-article o-article--big">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores aperiam quisquam animi quam ullam dolorem at rerum ipsa sunt nemo, magnam, id fuga natus repudiandae non molestias ad alias! Et numquam nostrum, sunt officia voluptates iusto delectus ullam sapiente.</p>
        </article>
    </div>
    
    <% include ./src/includes/social %>
    <% include ./src/includes/footer %> 
    
    <% include ./src/includes/popup %> 
       
    
</body>
</html>


